{% load static %}
<div class="table-responsive pt-1">
    <table id="datatable-buttons" class="table table-bordered align-middle dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr>
                <th>Project No</th>
                <th>Customer</th>
                <th>Subject</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>In-charge</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
         {% for project in projects %}
            <tr>
                <td class="align-middle">{{project.proj_id|default_if_none:""}}</td>
                <td class="align-middle">{{project.company_name|default_if_none:""}}</td>
                <td class="align-middle">{{project.RE|default_if_none:""|truncatechars:51}}</td>
                <td class="align-middle">{{project.start_date|date:"d M, Y"|default_if_none:""}}</td>
                <td class="align-middle">{{project.end_date|date:"d M, Y"|default_if_none:""}}</td>
                <td class="align-middle">{{project.proj_incharge|default_if_none:""}}</td>
                <td class="align-middle">{{project.proj_status|default_if_none:""}}</td>
                <td class="align-middle">
                    {% if project.proj_status != "Old Record" %}
                    <a href="{% url 'project_summary_detail' project.id %}" class="btn btn-outline-secondary btn-sm projectdetail" title="View">
                        <i class="ion ion-md-eye"></i>
                    </a>
                    <!-- <a href="javascript:void(0);" onclick="updateproj('{{project.id}}')" class="btn btn-outline-primary btn-sm edit com_update" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a> -->
                    <a href="javascript:void(0);" onclick="deleteproj('{{project.id}}')" class="btn btn-outline-danger btn-sm delete" title="Delete">
                        <i class="far fa-trash-alt"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var dtTable = $("#datatable-buttons").DataTable({
        // lengthChange:!1,
        "aaSorting": [[ 0, "desc" ]],
        dom: "<'row'<'col-sm-6'B><'col-sm-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-2 text-start'i><'col-sm-2 mt-2 text-start'l><'col-sm-8 mt-2'p>>",
        buttons: [
            {
                extend: 'colvis',
                text: "Filter Column",
                postfixButtons: [ 'colvisRestore' ]
            },
            {% comment %} {
                extend: 'collection',
                text: "Export",
                buttons : [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                ]
            },
             {% endcomment %}
         
        ],
    }).buttons().container().appendTo(".export_button");
    $(".dataTables_length select").addClass("form-select form-select-sm");
    $("#newSearchPlace").html($(".dataTables_filter"));
</script>