{% extends 'base.html' %}
{% load jsignature_filters %}
{% load static %}
{% block page-title %}Service Report Detail{% endblock%}
{% block css %}
    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <!-- Sweet Alert-->
    <link href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="{% static 'assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" /> 
    <link href="{% static 'assets/css/daterangepicker-bs3.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'assets/css/flatpicker.css' %}">
    <style>
        body[data-sidebar=dark].vertical-collpsed {
                min-height: auto!important;
            }
    </style>
{% endblock %}
{% block content %}
<style>
    #signature {
		border: 2px dotted black;
		background-color:lightgrey;
	}
    #signatureparent {
		color:darkblue;
		background-color:darkgrey;
		padding:5px;
	}
    .datepicker {
        z-index:1151 !important;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        display: block;
        padding-left: 8px;
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%!important;
        white-space: nowrap;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="page-title-box">
                <h4>Service Report Details
                </h4>
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a class="text-primary" href="{% url 'all_project_summary' %}"><b>Project Summary</b></a></li>
                        <li class="breadcrumb-item active">Project Details</li>
                        <li class="breadcrumb-item active">SR Details</li>
                    </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left: 30px;padding-right: 30px;" data-bs-toggle="tab" href="#srdetail" id="srdetailtab" role="tab">
                                <span class="d-block d-sm-none">DT</span>
                                <span class="d-none d-sm-block">Details</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left: 30px;padding-right: 30px;" data-bs-toggle="tab" href="#sritem" id="sritemtab" role="tab">
                                <span class="d-block d-sm-none">IT</span>
                                <span class="d-none d-sm-block">Items</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left: 30px;padding-right: 30px;" data-bs-toggle="tab" href="#srsignature" id="srsignaturetab" role="tab">
                                <span class="d-block d-sm-none">CS</span>
                                <span class="d-none d-sm-block">Customer Signatures</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane p-3" id="srdetail" role="tabpanel">
                            <form data-parsley-validate id="SrDetailForm">
                                <div class="button-items mb-3">
                                    <a href="{% url 'project_summary_detail' project_pk %}" class="align-middle btn-lg btn-outline-primary"><i class="mdi mdi-arrow-left-bold mr-2"></i></a>
                                    <a href="javascript:void(0);" id="srupdate" class="align-middle btn-lg btn-outline-primary"><i class="fas fa-pencil-alt mr-2"></i></a>
                                    <a href="javascript:void(0);" id="srcancel" style="display: none;" class="align-middle btn-lg btn-outline-danger"><i class="ion ion-ios-close-circle mr-2"></i></a>
                                    <button type="button" id="srsave" class="btn btn-outline-primary waves-effect waves-light btn-sm" style="margin-bottom: 0px!important;"> Save</button>
                                    <!-- button type="button" id="srexport" class="btn btn-outline-secondary waves-effect btn-sm" style="margin-bottom: 0px!important;"> Export</button -->
                                    <a href="{% url 'export_sr_pdf' value=service_pk %}" class="btn btn-info waves-effect waves-light btn-sm" style="margin-bottom: 0px!important;"> Print</a>
                                </div>
                                <hr class="my-auto flex-grow-1 mt-3 mb-3" style="height:2px;">
                                <div class="row p-3" >
                                    <div class="col-md-7">
                                        <div class="row pt-2">
                                            <div class="mb-3">
                                                <label class="form-label" for="company_name">Company</label>
                                                <input type="text" class="form-control" id="company_name" name="company_name" value="{{summary.company_name|default_if_none:''}}" style="height: 38px;" required readonly>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="mb-3">
                                                <label class="form-label" for="address">Address</label>
                                                <input type="text" class="form-control" id="address" name="address" style="height: 38px;" value="{{quotation.address|default_if_none:''}}" required readonly> 
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="attn">Contact Person</label>
                                                    <select class="form-control select2" id="srcontact_person" name="srcontact_person" required>
                                                        <option value="">Select the Contacts</option>
                                                        {% for contact in contacts %}
                                                            <option value="{{contact.id}}"{% if contact.id == summary.contact_person.id %} selected{% endif %}>{{contact.contact_person}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="email">Email</label>
                                                    <input type="text" class="form-control" id="email" name="email" value="{{summary.email|default_if_none:''}}" style="height: 38px;" required readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="srtel">Tel</label>
                                                    <input type="text" class="form-control" id="srtel" name="srtel" value="{{summary.site_tel|default_if_none:''}}" style="height: 38px;" style="height: 38px;" required readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="srfax">Fax</label>
                                                    <input type="text" class="form-control" id="srfax" name="srfax" value="{{summary.fax|default_if_none:''}}" style="height: 38px;" style="height: 38px;" required readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="mb-3">
                                                <label class="form-label" for="worksite">Worksite</label>
                                                <textarea type="text" class="form-control" rows="3" id="worksite" name="worksite" readonly required>{{summary.worksite_address|default_if_none:''}}</textarea>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="proj_id">Project No</label>
                                                    <input type="text" class="form-control" id="proj_id" name="proj_id" value="{{summary.proj_id|default_if_none:''}}" style="height: 38px;" required readonly>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-4">
                                        <div class="row pt-2 me-3 ms-3">
                                            <span class="badge bg-primary pt-3 pb-3 fst-italic" style="font-size: 18px!important;">SERVICE REPORT</span>
                                        </div>
                                        <div class="row mt-3 mb-3 me-5 ms-5">
                                            <input type="text" class="form-control" style="text-align: center;padding-top: 10px;padding-bottom: 10px;font-size: 20px;" id="sr_no" name="sr_no" value="{{service_report.sr_no|default_if_none:''}}" readonly>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="p-3">
                                    <span class="p-1 fw-bold" style="font-size: 15px;">
                                        Services
                                    </span>
                                    <hr class="my-auto flex-grow-1 mt-3 mb-3" style="height:2px;">
                                    
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row p-2">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="srtype">Type</label>
                                                        <select class="form-control select-service" id="srtype" name="srtype" required>
                                                            <option value="">Select the Type</option>
                                                            <option value="Services & Maintenance" {% if service_report.srtype == "Services & Maintenance" %}selected{% endif %}>Services & Maintenance</option>
                                                            <option value="Troubleshooting" {% if service_report.srtype == "Troubleshooting" %}selected{% endif %}>Troubleshooting</option>
                                                            <option value="Testing & Commissioning" {% if service_report.srtype == "Testing & Commissioning" %}selected{% endif %}>Testing & Commissioning</option>
                                                            <option value="Handing over" {% if service_report.srtype == "Handing over" %}selected{% endif %}>Handing over</option>
                                                            <option value="Others, please comment in remarks" {% if service_report.srtype == "Others, please comment in remarks" %}selected{% endif %}>Others, please comment in remarks</option>
                                                        </select>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="purpose">Purpose</label>
                                                        <select class="form-control select-service" id="purpose" name="purpose" required>
                                                            <option value="">Select the Purpose</option>
                                                            <option value="New Project" {% if service_report.srpurpose == "New Project" %}selected{% endif %}>New Project</option>
                                                            <option value="Existing Project" {% if service_report.srpurpose == "Existing Project" %}selected{% endif %}>Existing Project</option>
                                                            <option value="Maintenance" {% if service_report.srpurpose == "Maintenance" %}selected{% endif %}>Maintenance</option>
                                                            <option value="Troubleshooting" {% if service_report.srpurpose == "Troubleshooting" %}selected{% endif %}>Troubleshooting</option>
                                                            <option value="Others, please comment in remarks" {% if service_report.srpurpose == "Others, please comment in remarks" %}selected{% endif %}>Others, please comment in remarks</option>
                                                            
                                                        </select>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="timein">Time in</label>
                                                        <input type="text" class="form-control" id="timein" name="timein" value="{{service_report.time_in|default_if_none:''}}" style="height: 38px;" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="timeout">Time out</label>
                                                        <input type="text" class="form-control" id="timeout" name="timeout" value="{{service_report.time_out|default_if_none:''}}" style="height: 38px;" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="mb-3">
                                                    <label class="form-label" for="system">System</label>
                                                    <select class="form-control select-service" id="system" name="system" required>
                                                        <option value="">Select the System</option>
                                                        <option value="Structured Cabling System" {% if service_report.srsystem == "Structured Cabling System" %}selected{% endif %}>Structured Cabling System</option>
                                                        <option value="IT Network System" {% if service_report.srsystem == "IT Network System" %}selected{% endif %}>IT Network System</option>
                                                        <option value="Telephone System" {% if service_report.srsystem == "Telephone System" %}selected{% endif %}>Telephone System</option>
                                                        <option value="CCTV System" {% if service_report.srsystem == "CCTV System" %}selected{% endif %}>CCTV System</option>
                                                        <option value="Access Control System" {% if service_report.srsystem == "Access Control System" %}selected{% endif %}>Access Control System</option>
                                                        <option value="Audio Video Intercom System" {% if service_report.srsystem == "Audio Video Intercom System" %}selected{% endif %}>Audio Video Intercom System</option>
                                                        <option value="Home Automation" {% if service_report.srsystem == "Home Automation" %}selected{% endif %}>Home Automation</option>
                                                        <option value="Others, please comment in remarks" {% if service_report.srsystem == "Others, please comment in remarks" %}selected{% endif %}>Others, please comment in remarks</option>
                                                        
                                                    </select>
                                                    
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="mb-3">
                                                    <label class="form-label" for="remark">Remarks</label>
                                                    <textarea type="text" class="form-control" rows="3" id="remark" name="remark" >{{service_report.remark|default_if_none:''}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                            <div class="p-3">
                                <span class="p-1 fw-bold" style="font-size: 15px;">
                                    Signatures
                                </span>
                                <hr class="my-auto flex-grow-1 mt-3 mb-3" style="height:2px;">

                                <div class="row mb-3">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3 row">
                                                    <label for="signature" class="form-label">Autorised's Signatures:</label>
                                                    <div class="justify-content-start d-flex">
                                                        <label class="avatar-input">
                                                            {% if service_report.created_by.signature %}
                                                            <img src="{{service_report.created_by.signature.url}}" alt="..." style="height: 95px;"
                                                                class="img-thumbnail" style="border: 1px solid rgba(0,0,0,.37);">
                                                            {% else %}
                                                            <img src="{% static 'assets/images/logo.png' %}" alt="..."
                                                                class="img-thumbnail" style="border: 1px solid rgba(0,0,0,.37);">
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            {% comment %} <div class="col-md-6">
                                                <div class="mb-3 row">
                                                    <label for="companystamp" class="form-label">Company Stamp:</label>
                                                    <div class="justify-content-start d-flex">
                                                        <label class="avatar-input">
                                                            <img src="{% static 'assets/images/logo.png' %}" alt="..."
                                                                    class="img-thumbnail" style="border: 1px solid rgba(0,0,0,.37);">
                                                        </label>
                                                    </div> 
                                                </div>
                                            </div>  {% endcomment %}
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-md-6">
                                                <label for="sname" class="col-form-label">Name:</label>
                                                <input class="form-control" type="text"  id="sname" name="sname" style="height: 38px;" value="{{request.user.username|default_if_none:''}}"  readonly>
                                            </div>
                                            {% comment %} <div class="col-md-6">
                                                <label for="srdate" class="col-form-label">Date:</label>
                                                <input type="text" class="form-control" id="srdate" name="srdate" data-date-format="dd M yyyy" data-provide="datepicker" data-date-autoclose="true" style="height: 38px;" value="{{service_report.date|date:'d M, Y'|default_if_none:''}}" required readonly>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="tab-pane p-3" id="sritem" role="tabpanel">
                            <div class="row mt-3">
                                <div class="button-items mb-1">
                                    <button type="button" id="sritemadd" class="btn btn-outline-primary waves-effect waves-light btn-sm" style="margin-bottom: 0px!important;"> Add </button>
                                    <button type="button" id="srimport" class="btn btn-outline-secondary waves-effect btn-sm" style="margin-bottom: 0px!important;"> Import </button>
                                    <a href="{% url 'ajax_export_sr_item' projectid=project_pk srid=service_pk %}" class="btn btn-outline-info waves-effect waves-light btn-sm" style="white-space: nowrap;margin-bottom: 0px!important;" > Template Export</a>
                                </div>
                            </div>
                            <div class="table-responsive mt-2">
                                <table id="sritemdt" class="table table-bordered align-middle dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th width="5%">SN</th>
                                            <th width="65%">Description</th>
                                            <th width="10%">QTY</th>
                                            <th width="10%">UOM</th>
                                            <th width="10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in sritems %}
                                        <tr>
                                            <td class="align-middle">{{ forloop.counter }}</td>
                                            <td class="align-middle">{{item.description|wordwrap:80|linebreaksbr|default_if_none:""}}</td>
                                            <td class="align-middle">{{item.qty|default_if_none:""}}</td>
                                            <td class="align-middle">{{item.uom|default_if_none:""}}</td>
                                            <td class="align-middle">
                                                <a href="javascript:void(0);" onclick="updatesritem('{{item.id}}')" class="btn btn-outline-primary btn-sm edit" title="Edit">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                                <a href="javascript:void(0);" onclick="deleteserviceitem('{{item.id}}')" class="btn btn-outline-danger btn-sm delete" title="Delete">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane p-3" id="srsignature" role="tabpanel">
                            <form data-parsley-validate id="SrSignatureForm">
                                <div class="button-items mb-3">
                                    {% if srsignature is None %}
                                    <a href="javascript:void(0);" id="serviceedit" class="align-middle btn-lg btn-outline-primary"><i class="fas fa-pencil-alt mr-2"></i></a>
                                    {% endif %}
                                    {% if srsignature %}
                                    <a href="javascript:void(0);" id="serviceupdate" onclick="updateservicesign('{{srsignature.id}}')" class="align-middle btn-lg btn-outline-primary"><i class="fas fa-pencil-alt mr-2"></i></a>
                                    {% endif %}
                                </div>
                                <hr class="my-auto flex-grow-1 mt-3 mb-3" style="height:2px;">
                                
                                <div class="row mb-3">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3 row">
                                                    <label for="signature" class="form-label">Customer's Signatures:</label>
                                                    <div class="justify-content-center d-flex" style="border: 1px solid;">
                                                        {% if srsignature %}
                                                            <img src="{{ srsignature.signature|signature_base64 }}" style="max-width: 100%;height:auto;" />
                                                        {% else %}
                                                        <div style="height:100px;"></div>
                                                        {% comment %} <img src="{% static 'assets/images/logo.png' %}" alt="..."
                                                            class="img-thumbnail" style="border: 1px solid rgba(0,0,0,.37);"> {% endcomment %}
                                                        {% endif %} 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-md-6">
                                                <label for="sname" class="col-form-label">Name:</label>
                                                <input class="form-control" type="text"  id="sname" name="sname" value="{{srsignature.name|default_if_none:''}}"  readonly>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="srsigndate" class="col-form-label">Date:</label>
                                                <input type="text" class="form-control" id="srsigndate" name="srsigndate" data-date-format="dd M yyyy" data-provide="datepicker" data-date-autoclose="true" value="{{srsignature.update_date|date:'d M, Y'|default_if_none:''}}" required readonly>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-md-6">
                                                <label for="srnric" class="col-form-label">NRIC(Last 4 Digit):</label>
                                                <input class="form-control" type="text"  id="srnric" name="srnric" value="{{srsignature.nric|default_if_none:''}}"  readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Service Report Signature modal content -->
<div id="servicesignmodal" class="modal fade" role="dialog" aria-labelledby="servicesignModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="head_title_sr_signature">Add New Service Report Signature</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body" id="manage_service_sign">
                <form class="needs-validation p-3" id="ServiceSignForm">
                    {% csrf_token %}

                    <div id="text_error_service_sign" class="alert alert-danger alert-dismissible fade show mb-0" style="display: none;" role="alert">
                    </div>
                    <div class="mb-3 row">
                        <label for="service_name" class="col-md-4 col-form-label">Name:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="service_name" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="service_date" class="col-md-4 col-form-label">Date:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="service_date" data-date-format="dd M, yyyy" data-provide="datepicker" data-date-autoclose="true" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="service_nric" class="col-md-4 col-form-label">NRIC(Last 4 Digits):</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text"  id="service_nric" required>
                        </div>
                    </div>
                    <div id="signatureparent">
                        <div id="signature"></div>
                    </div>
                    <div class="pt-3">
                        <button type="button" class="btn btn-outline-dark waves-effect btn-sm" id="signreset">Reset</button>
                    </div>
                    
                </form>
                <input type="hidden" id="serviceid" value="-1" />
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary waves-effect waves-light btn-sm btn_serviceadd">Add</button>
                
            </div>
        </div>
    </div>
</div>
<!--Service Report Item modal content -->
<div id="sritemmodal" class="modal fade" role="dialog" aria-labelledby="sritemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="head_title_item">Add New Service Report Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body" id="manage_service_item">
                <form class="needs-validation p-3" id="SrItemForm">
                    {% csrf_token %}
                    <div id="text_error_sr_item" style="display: none;" class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                    </div>
                    
                    <div class="mb-3 mt-3 row">
                        <label for="itemdescription" class="col-md-4 col-form-label">Description:</label>
                        <div class="col-md-8">
                            <select class="form-control" id="itemdescription" required>
                                <option value="">Select Description..</option>
                                {% for description in projectitemall %}
                                    <option value="{{description.description}}">{{description.description}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="itemqty" class="col-md-4 col-form-label">QTY:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="itemqty"  name="itemqty" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="itemuom" class="col-md-4 col-form-label">UOM:</label>
                        <div class="col-md-8">
                            <select class="form-control uom-select" id="itemuom" name="itemuom" >
                                <option value="">Select UOM</option>
                                {% for uom in uoms %}
                                    <option value="{{uom.id}}">{{uom.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                </form>
                <input type="hidden" id="sritemid" value="-1" />
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary waves-effect waves-light btn-sm btn_sritemadd">Add</button>
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Delete Service Report Item modal content -->
<div id="itemdeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="itemdelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ItemdelModalLabel">Delete Service Report Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete this record?</h5>
                <input type="hidden" id="itemdel_id" value="-1">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Cancel</button>
                <button id="itemdel_confirm" type="button" class="btn btn-primary waves-effect waves-light">OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'assets/libs/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/flatpicker.js' %}"></script>
<script src="{% static 'assets/js/jSignature/jSignature.js' %}"></script>
<script src="{% static 'assets/js/jSignature/plugins/jSignature.CompressorBase30.js' %}"></script>
<script src="{% static 'assets/js/jSignature/plugins/jSignature.CompressorSVG.js' %}"></script>
<script src="{% static 'assets/js/jSignature/plugins/jSignature.UndoButton.js' %}"></script>
<script src="{% static 'assets/js/jSignature/plugins/signhere/jSignature.SignHere.js' %}"></script>
<script>
    var $sigdiv = $("#signature").jSignature({'UndoButton':true, height: 150, width: 720, 'decor-color': 'transparent'});
    $("#SrDetailForm input").prop("disabled", true);
    $("#SrDetailForm textarea").prop("disabled", true);
    $("#SrDetailForm .select2").prop("disabled", true);
    $("#SrDetailForm .select-service").prop("disabled", true);
    $('#srsave').prop('disabled', true);
    $("#srupdate").on('click', function(e){
        $("#SrDetailForm input").prop("disabled", false);
        $("#SrDetailForm textarea").prop("disabled", false);
        $("#SrDetailForm .select2").prop("disabled", false);
        $("#SrDetailForm #srcontact_person").prop("disabled", true);
        $("#SrDetailForm .select-service").prop("disabled", false);
        $("#srupdate").hide();
        $("#srcancel").show();
        $('#srsave').prop('disabled', false);
    });
    $("#srcancel").on('click', function(e){
        $("#SrDetailForm input").prop("disabled", true);
        $("#SrDetailForm textarea").prop("disabled", true);
        $("#SrDetailForm .select2").prop("disabled", true);
        $("#SrDetailForm #srcontact_person").prop("disabled", true);
        $("#SrDetailForm .select-service").prop("disabled", true);
        $("#srupdate").show();
        $("#srcancel").hide();
        $('#srsave').prop('disabled', true);
    });
    $(".select2").select2({width: '100%'});
    $(".select-service").select2({width: '100%'});
    
    $("#sritemdt").DataTable({
        searching: false, 
        paging: true, 
        info: true,
        ordering: false,
        dom: "<'row'<'col-sm-6'B><'col-sm-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-2 text-start'i><'col-sm-2 mt-2 text-start'l><'col-sm-8 mt-2'p>>",
    });
    $("#timein").flatpickr({
        enableTime: true,
        dateFormat: "d M, Y H:i",
        allowInput: true,
    });
    $("#timeout").flatpickr({
        enableTime: true,
        dateFormat: "d M, Y H:i",
        allowInput: true,
    });
    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
    ];
    $("#serviceedit").on('click', function(e){
        $("#serviceid").val('-1');
        $("#head_title_sr_signature").html('Add New Service Signature');
        $(".btn_serviceadd").html('Add');
        $("#service_name").val("");
        $("#service_nric").val("");
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = monthNames[today.getMonth()]; 
        var yyyy = today.getFullYear();
        $("#service_date").val(dd + " " + mm + ", " + yyyy);
        $('#service_date').datepicker('setDate', dd + " " + mm + ", " + yyyy);
        $sigdiv.jSignature('reset');
        $("#servicesignmodal").modal('show');
    });
    $("#signreset").on('click', function(e){
        $sigdiv.jSignature('reset');
    });
    function updateservicesign(id) {
        $("#serviceid").val(id);
        $("#head_title_sr_signature").html('Update Service Signature');
        $(".btn_serviceadd").html('Update');
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "ajax_get_service_sign" %}',
            data: {
                serviceid: $("#serviceid").val()
            },
            type: 'POST',
            success: function (data) {
                up_data = JSON.parse(data);
                $("#service_name").val(up_data.name);
                $('#service_nric').val(up_data.nric);
                $('#delivery_date').val(up_data.date);  
                $('#service_date').datepicker('setDate', up_data.date);
                $("#signature").jSignature('setData', JSON.parse(up_data.signature), 'native');
            }
        });
        $("#servicesignmodal").modal('show');
    }
    $(".btn_serviceadd").on('click', function(e){
        var signature = $sigdiv.jSignature('getData', 'native');
        console.log($sigdiv.jSignature('getData', 'default'))
        $('#ServiceSignForm').parsley().validate();
        if ($('#ServiceSignForm').parsley().validate() === false) {         
                event.preventDefault();
                event.stopPropagation();
                return;
        }
        else {
            if( signature.length == 0) {
                alert('Please Enter Signature..');
            } else {
                $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: '{% url "ajax_add_service_sign" %}',
                data: {
                    name: $("#service_name").val(),
                    nric: $("#service_nric").val(),
                    date: formatDate($("#service_date").val()),
                    srid: `{{service_pk}}`,
                    projectid:`{{project_pk}}`,
                    signature: JSON.stringify(signature),
                    default_base64: $sigdiv.jSignature('getData', 'default'),
                    serviceid: $("#serviceid").val()
                },
                type: 'POST',
                success: function (data) {
                    if(data.status=="Success"){
                        $("#text_error_service_sign").hide();
                        location.reload();
                    } else {
                        $("#text_error_service_sign").html(data.messages);
                        $("#text_error_service_sign").show();
                    }
                }
            });
            }
            
        }
        
    });
    $("#srsave").on('click', function(e){
        $("#SrDetailForm").parsley().validate();
        if ($('#SrDetailForm').parsley().validate() === false) {         
            event.preventDefault();
            event.stopPropagation();
            return;
        } else {
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: '{% url "ajax_update_service_report" %}',
                data: {
                    srtype: $("#srtype").val(),
                    srpurpose: $("#purpose").val(),
                    srsystem: $("#system").val(),
                    timein: formatDateTime($("#timein").val()),
                    timeout: formatDateTime($("#timeout").val()),
                    remark: $("#remark").val(),
                                       
                    servicepk: `{{service_pk}}`

                },
                type: 'POST',
                success: function (data) {
                    if(data.status=="Success"){
                        
                        location.reload();
                    } 
                }
            });
        }
    });
    $("#itemdescription").select2({width: '100%', dropdownParent: $("#manage_service_item")});
    $(".uom-select").select2({width: '100%', dropdownParent: $("#manage_service_item")});
    $("#itemdescription").on('change', function(e){
        if ($("#itemdescription").val() != ""){
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: '{% url "ajax_get_pro_uom" %}',
                data: {
                    itemdescription: $("#itemdescription").val(),
                    quotationid: `{{quotation.id}}`
                },
                type: 'POST',
                success: function (data) {
                    up_data = JSON.parse(data);
                    $("#itemuom").val(up_data.uom);
                }
            });
        }
    });
    $('a[role=tab]').click(function(){
        if (this.id == "srdetailtab") {
            localStorage.setItem("srdetailitem", '1');
        } else if (this.id == "sritemtab") {
            localStorage.setItem("srdetailitem", '2');
        } else if (this.id == "srsignaturetab") {
            localStorage.setItem("srdetailitem", '3');
        } 
    });
    var tabactive = localStorage.getItem("srdetailitem");
    if (tabactive == null || tabactive == '1') 
    {
        $("#srdetailtab").addClass('active');
        $("#sritemtab").removeClass('active');
        $("#srsignaturetab").removeClass('active');

        $("#srdetail").addClass('active');
        $("#sritem").removeClass('active');
        $("#srsignature").removeClass('active');
    } 
    else if (tabactive == '2') 
    {
        $("#srdetailtab").removeClass('active');
        $("#sritemtab").addClass('active');
        $("#srsignaturetab").removeClass('active');

        $("#srdetail").removeClass('active');
        $("#sritem").addClass('active');
        $("#srsignature").removeClass('active');
    } 
    else if (tabactive == '3') 
    {
        $("#srdetailtab").removeClass('active');
        $("#sritemtab").removeClass('active');
        $("#srsignaturetab").addClass('active');

        $("#srdetail").removeClass('active');
        $("#sritem").removeClass('active');
        $("#srsignature").addClass('active');
    } 
    $("#sritemadd").on('click', function(e){
        $("#itemdescription").val('');
        $("#itemqty").val('');
        $("#itemuom").val('');
        $("#sritemid").val('-1');
        $("#sritemmodal").modal('show');
    });
    $('#itemqty').keydown(function(event) {

        if(event.shiftKey && ((event.keyCode >=48 && event.keyCode <=57) 
                || (event.keyCode >=186 &&  event.keyCode <=222))){
        // Ensure that it is a number and stop the Special chars
            event.preventDefault();
        }
        else if ((event.shiftKey || event.ctrlKey) && (event.keyCode > 34 && event.keyCode < 40)){     
            // let it happen, don't do anything
        } 
        else if(($('#itemqty').val()).length == 0 && event.keyCode == 48) {
            event.preventDefault();
        }  
        else{
        // Allow only backspace , delete, numbers               
        if (event.keyCode == 9 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 39 ||event.keyCode == 37 
                || (event.keyCode >=48 && event.keyCode <=57)) {
            // let it happen, don't do anything
        }
        else {
            // Ensure that it is a number and stop the key press
                event.preventDefault();                   
            }
        }
    });
    function updatesritem(id){
        $("#sritemid").val(id);
        $("#head_title_item").html('Update Service Report Item');
        $(".btn_sritemadd").html('Update');
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "ajax_get_sr_item" %}',
            data: {
                sritemid: $("#sritemid").val(),
            },
            type: 'POST',
            success: function (data) {
                up_data = JSON.parse(data)
                $("#itemdescription").val(up_data.description);
                $("#itemdescription").trigger('change');
                $("#itemqty").val(up_data.qty);
                $("#itemuom").val(up_data.uom);
                $("#itemuom").trigger('change');
            }
        });
        $("#sritemmodal").modal('show');
    };
    function deleteserviceitem(id) {
        $("#itemdel_id").val(id);
        $("#itemdeleteModal").modal('show');
    }
    $("#itemdel_confirm").on('click', function(event){
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "ajax_delete_service_item" %}',
            data: {
                'del_id': $("#itemdel_id").val(),
            },
            type: 'POST',
            success: function (data) {
                if (data.status == "ok") {
                    location.reload(); 
                }
            }
        });
        $('#itemdeleteModal').modal('hide')
    });
    $(".btn_sritemadd").on('click', function(e){
        $('#SrItemForm').parsley().validate();
        if ($('#SrItemForm').parsley().validate() === false) {       
            event.preventDefault();
            event.stopPropagation();
            return;
        } else {
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: '{% url "ajax_sr_item_add" %}',
                data: {
                    description: $("#itemdescription").val(),
                    qty: $("#itemqty").val(),
                    uom: $("#itemuom").val(),
                    projectid: `{{project_pk}}`,
                    srid: `{{service_pk}}`,
                    sritemid: $("#sritemid").val()
                },
                type: 'POST',
                success: function (data) {
                    if(data.status=="Success"){
                        $("#text_error_sr_item").hide();
                        location.reload();
                    } else {
                        $("#text_error_sr_item").html(data.messages);
                        $("#text_error_sr_item").show();
                    }
                }
            });
        }
    });
    {% comment %} $("#srprint").on('click', function(e){
        window.print();
        return false;
    }); {% endcomment %}
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    }
    function formatDateTime(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) {
            month = '0' + month;
        }
           
        if (day.length < 2) {
            day = '0' + day;
        }
        var hour =  ("0" + (d.getHours())).slice(-2);
        var min =  ("0" + (d.getMinutes())).slice(-2);

        return year + "-" + month + "-" + day + " " + hour + ":" +  min
    }
</script>
{% endblock %}