{% extends 'base.html' %}
{% load static %}
{% block page-title %}Change Password{% endblock%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="page-title-box">
                <h3>Edit Password
                </h3>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form data-parsley-validate id="ChangeForm">
                        <div id="text_success" class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
                        </div>
                        <div id="text_error" class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="currentpassword">Current Password <span class="text-danger">(*)</span></label>
                                    <input type="password" class="form-control" id="currentpassword" name="currentpassword" required>
                                    <ul id="password_valid" style="display: none;" class="parsley-errors-list filled">
                                        <li class="parsley-required">
                                            Current Password is incrrect!
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="newpassword">New Password <span class="text-danger">(*)</span></label>
                                    <input type="password" class="form-control" id="newpassword" name="newpassword" required>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="confirmpassword">Confirm New Password <span class="text-danger">(*)</span></label>
                                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" required>
                                    <ul id="password_con_valid" style="display: none;" class="parsley-errors-list filled">
                                        <li class="parsley-required">
                                            Password is not matched!
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="reset_id" value="{{request.user.id}}" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 d-flex justify-content-end">
                                    <button type="button" id="changepasssave" class="btn btn-primary btn-sm" style="margin-bottom: 0px!important;"><i class="mdi mdi-content-save-move"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $("#text_error").hide();
    $("#text_success").hide();
    $("#currentpassword").blur(function(){
        if($("#currentpassword").val() != "") {
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: '{% url "ajax_check_change" %}',
                data: {
                    currentpassword: $("#currentpassword").val(),
                    reset_id: $("#reset_id").val()
                },
                type: 'POST',
                success: function (data) {
                    if(data.status !="ok"){
                        $("#password_valid").css("display", "block"); 
                        $('#changepasssave').prop('disabled', true);
                    } else {
                        $("#password_valid").css("display", "none"); 
                        $('#changepasssave').prop('disabled', false);
                    }
                }
            });
        }
        
    });
    $("#changepasssave").on('click', function(e){
        $('#ChangeForm').parsley().validate();
        if ($('#ChangeForm').parsley().validate() === false) {         
            event.preventDefault();
            event.stopPropagation();
            return;
        } else {
            if ($("#newpassword").val() != $("#confirmpassword").val()) {
                $("#password_con_valid").css("display", "block"); 
            } else{
                $("#password_con_valid").css("display", "none");
                $.ajax({
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    url: '{% url "change_password" %}',
                    data: {
                        newpassword: $("#newpassword").val(),
                        reset_id: $("#reset_id").val(),
                    },
                    type: 'POST',
                    success: function (data) {
                        if(data.status=="ok"){
                            $("#text_error").hide();
                            $("#text_success").show();
                            $("#text_success").html(data.messages);
                            //location.reload();
                        } else {
                            $("#text_error").html(data.messages);
                            $("#text_error").show();
                            $("#text_success").hide();
                        }
                    }
                }); 
            }
            
        }
    });
</script>
{% endblock %}