{% load static %}
<div class="table-responsive pt-1">
    <table id="datatable-buttons" class="table table-bordered align-middle dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Emp No</th>
                <th>Nationality</th>
                <th>NRIC/FIN</th>
                <th>Role</th>
                <th>Contact</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td class="align-middle">{{user.first_name|default_if_none:""}}</td>
                    <td class="align-middle">{{user.last_name|default_if_none:""}}</td>
                    <td class="align-middle">{{user.empid|default_if_none:""}}</td>
                    <td class="align-middle">{{user.nationality|default_if_none:""}}</td>
                    <td class="align-middle">{{user.nric|default_if_none:""}}</td>
                    <td class="align-middle">{{user.role|default_if_none:""}}</td>
                    <td class="align-middle">{{user.phone|default_if_none:""}}</td>
                    <td class="align-middle">
                        <a href="{% url 'user_detail' user.id %}" class="btn btn btn-outline-primary" title="Search">
                            <i class="ti-search"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $("#datatable-buttons").DataTable({
        
        "aaSorting": [[ 0, "desc" ]],
        dom: "<'row'<'col-sm-6'B><'col-sm-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-2 text-start'i><'col-sm-2 mt-2 text-start'l><'col-sm-8 mt-2'p>>",
        buttons: [

            {
                extend: 'colvis',
                text: "Filter Column",
                postfixButtons: [ 'colvisRestore' ]
            },
            {
                extend: 'collection',
                text: "Export",
                buttons : [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                ]
            },
         
        ],
    }).buttons().container().appendTo(".export_button");
    $(".dataTables_length select").addClass("form-select form-select-sm");
    $("#newSearchPlace").html($(".dataTables_filter"));
</script>