{% load static %}
<div class="table-responsive pt-1">
    <table id="otsummarytable" class="table table-bordered align-middle dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr>
                <th>Emp No</th>
                <th>Basic Dialy</th>
                <th>1.5HR</th>
                <th>2.0HR</th>
                <th>Meal Allowance</th>
            </tr>
        </thead>
        <tbody>
         {% for otsummary in otsummaries %}
            <tr>
                <td class="align-middle">{{otsummary.emp_no|default_if_none:""}}</td>
                <td class="align-middle">{{otsummary.basic_salary|default_if_none:""}}</td>
                <td class="align-middle">{{otsummary.firsthr|default_if_none:""}}</td>
                <td class="align-middle">{{otsummary.secondhr|default_if_none:""}}</td>
                <td class="align-middle">{{otsummary.meal_allowance|default_if_none:""}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $("#otsummarytable").DataTable({
        "aaSorting": [[ 0, "desc" ]],
        dom: "<'row'<'col-sm-6'B><'col-sm-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-2 text-start'i><'col-sm-2 mt-2 text-start'l><'col-sm-8 mt-2'p>>",
            buttons: [
            {
                extend: 'colvis',
                text: "Filter Column",
                postfixButtons: [ 'colvisRestore' ]
            },
            {
                extend: 'collection',
                text: "Export",
                buttons : [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                ]
            },
         
        ],
    }).buttons().container().appendTo(".export_button");
    $(".dataTables_length select").addClass("form-select form-select-sm");
    $("#newSearchPlace").html($(".dataTables_filter"));
</script>