{% load static %}
<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Recoverpw | ERP Solutions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="ERP Solutions" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}"> 
        
        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'assets/libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>
        <script src="{% static 'assets/libs/parsleyjs/parsley.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/form-validation.init.js' %}"></script>
    </body>

</html>