{% extends "accounts/auth-base.html" %}
{% load static %}
{% block content %}
<div class="card overflow-hidden">
    <div class="card-body pt-0">
        <h3 class="text-center mt-5 mb-4">
            <img src="{% static 'assets/images/logo-title.png' %}" draggable="false" alt="ERP Solution" height="100" class="auth-logo-dark">
        </h3>
        <div class="p-3">
            <div class="alert alert-info" role="alert">
                We have sent the instructions on how to recover the password to the specified email address
            </div>
            <div class="form-group text-center">
                You will be receiving the mail soon
            </div>
        </div>
    </div>
</div>
{% endblock %}