{% load static %}
<div class="table-responsive pt-1">
    <table id="datatable-buttons" class="table table-bordered align-middle dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Model Name</th>
                <th>Serial Number</th>
                <th>Brand</th>
                <th>UOM</th>
                <th>Remark</th>
                <th>Expiry Date</th>
                <th>Licensing Renewal Date</th>
                <th>Stock Qty</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
         {% for hardware in hardwares %}
            <tr>
                <td class="align-middle">{{hardware.hardware_code|default_if_none:""}}</td>
                <td class="align-middle">{{hardware.hardware_desc|default_if_none:""}}</td>
                <td class="align-middle">{{hardware.serial_number|default_if_none:""}}</td>
                <td class="align-middle">{{hardware.brand|default_if_none:""}}</td>
                <td class="align-middle">{{hardware.uom|default_if_none:""}}</td>
                <td class="align-middle">{{hardware.remark|default_if_none:""}}</td>
                <td class="align-middle">{{hardware.expiry_date|date:"d M, Y"|default_if_none:""}}</td>
                <td class="align-middle">{{hardware.licensing_date|date:"d M, Y"|default_if_none:""}}</td>
                <td class="align-middle">{{hardware.stock_qty|default_if_none:""}}</td>
                <td class="align-middle">
                    <a href="javascript:void(0);" onclick="updatehardware('{{hardware.id}}')" class="btn btn-outline-primary btn-sm edit com_update" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="javascript:void(0);" onclick="deletehardware('{{hardware.id}}')" class="btn btn-outline-danger btn-sm delete" title="Delete">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $("#datatable-buttons").DataTable({
        // lengthChange:!1,
        dom: "<'row'<'col-sm-6'B><'col-sm-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-2 text-start'i><'col-sm-2 mt-2 text-start'l><'col-sm-8 mt-2'p>>",
        "aaSorting": [[ 0, "desc" ]],
        buttons: [
            {
                extend: 'colvis',
                text: "Filter Column",
                postfixButtons: [ 'colvisRestore' ]
            },
         
        ],
    }).buttons().container().appendTo(".export_button");
    $(".dataTables_length select").addClass("form-select form-select-sm");
    $("#newSearchPlace").html($(".dataTables_filter"));
</script>